* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* dynamic navbar */
#dynamic-navbar {
  position: fixed;
  background-color: black;
  top: 0;
  height: 80px;
  z-index: 20;
  width: 100%;
  transform: translateY(-80px);
}

#dynamic-navbar>.menu-list {
  align-items: center;
  height: 100%;

}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100px;
}

.menu-item>a {
  color: #fff;
  display: block;
  font-size: 15px;
  padding: 20px;
  margin: 20px;
  font-weight: 700;
  z-index: 20;
  min-width: 80px;
}

.menu-item-logo>a {
  min-width: 200px;
  max-width: 250px;
}

.menu-item-login>a {
  border: 2px solid white;
  border-radius: 10px;
  padding: 15px 20px;
}

.menu-item-login>a:hover {
  background-color: #fff;
  color: #000;
}

@keyframes showNavbar {
  0% {
    transform: translateY(-80px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes hiddenNavbar {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-80px);
  }
}

/* header */
.header {
  position: relative;
  z-index: 999999;
}

.header .header-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header .header-main .header-top {
  position: relative;
  padding-top: 30px;
  color: #fff;
  font-size: 16px;
}

.header .header-main .header-top__left {
  float: left;
}

.header .header-main .header-top__left a {
  color: currentColor;
}

.header .header-main .header-top__left a i {
  font-size: 15px;
  color: #ffffff;
  margin-right: 10px;
}

.header .header-main .header-top__left a:first-of-type {
  margin-right: 10px;
}

.header .header-main .header-content {
  position: relative;
  width: 100%;
  padding-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.header .header-main .header-content .logo img {
  max-width: 147px;
}

.header .header-main .header-content .menu ul {
  display: block;
  line-height: 1.7;
  text-align: left;
  margin-bottom: 0;
}

.header .header-main .header-content .menu ul li {
  position: relative;
  padding: 0 20px;
  float: left;
}

.header .header-main .header-content .menu ul li:first-child {
  padding-left: 0;
}

.header .header-main .header-content .menu ul li a {
  display: inline-block;
  color: currentColor;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 13px;
  line-height: 22.1px;
  padding: 15px 0;
  position: relative;
}

.header .header-main .header-content .menu ul li a i {
  margin-left: 5px;
  transition: all 0.3s linear;
}

@media (max-width: 1024px) {
  .header .header-main .header-content .menu ul li {
    padding: 0 15px;
  }
}

@media (max-width: 991px) {
  .header .header-main .header-content .menu {
    display: none;
  }

}

@media (max-width: 991px) {
  .header {
    margin: -20px -20px 20px;
  }

  .header .header-main {
    position: relative;
    background-color: #161616;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .header .header-main .header-top {
    padding-top: 0;
  }
}

.book-link {
  position: relative;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
  padding: 11px 20px;
  color: #fff;
}

/* baner */
.banner {
  position: relative;
  background: url("../images/resort-title-bg.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border-radius: 20px;
}

.banner .banner-content {
  position: relative;
  margin: 0px;
  padding: 250px 0px 150px;
  border-radius: 20px;
  z-index: 1;
}

.banner .banner-content .banner-title {
  text-align: center;
}

.banner .banner-content .banner-title h1 {
  font-size: 80px;
  color: #fff;
  letter-spacing: 0;
  font-weight: 300;
  text-transform: capitalize;
  font-family: 'Shelia VNF';
}

@media (max-width: 768px) {
  .banner .banner-content .banner-title h1 {
    font-size: 40px;
  }
}

@media (max-width: 991px) {
  .banner .banner-content {
    padding: 70px 0;
  }
}

.banner.banner-content {
  border-radius: 0;
  background: url("../../images/page-title-bg-2.jpg");
}


.rooms {
  position: relative;
  padding-bottom: 50px;
}

.rooms .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/Square.png") no-repeat;
  background-position: top center;
}

.rooms .rooms-grid .rooms-item {
  margin-bottom: 40px;
}

.rooms .rooms-grid .rooms-item .inner {
  position: relative;
  border-radius: 20px;
  box-shadow: 0 10px 45px rgba(10, 10, 10, 0.07);
}

.rooms .rooms-grid .rooms-item .inner .image {
  border-radius: 20px 20px 0 0;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}

.rooms .rooms-grid .rooms-item .inner .image a img {
  transition: all 0.3s linear;
}

.rooms .rooms-grid .rooms-item .inner .image .price {
  position: absolute;
  bottom: 10px;
  left: 25px;
  background-color: #000;
  font-size: 20px;
  line-height: 1;
  padding: 21px 20px;
  font-weight: 600;
  color: #fff;
  border-radius: 10px;
}

.rooms .rooms-grid .rooms-item .inner .image .price .price-head {
  margin-right: 5px;
}

.rooms .rooms-grid .rooms-item .inner .image .price .price-tail {
  font-size: 15px;
  font-weight: 400;
}

.rooms .rooms-grid .rooms-item .inner .content {
  padding: 35px 40px 50px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
}

.rooms .rooms-grid .rooms-item .inner .content .room-title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
}

.rooms .rooms-grid .rooms-item .inner .content .room-title a {
  display: inline;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: left;
  color: #000000;
}

.rooms .rooms-grid .rooms-item .inner .content .infor-wrap {
  color: #848484;
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 30px;
}

.rooms .rooms-grid .rooms-item .inner .content .infor-wrap .infor-item {
  display: inline;
  margin-right: 25px;
  text-transform: capitalize;
}

.rooms .rooms-grid .rooms-item .inner .content .infor-wrap .infor-item i {
  font-size: 24px;
  margin-right: 14px;
  vertical-align: bottom;
  color: #000;
}

.rooms .rooms-grid .rooms-item .inner .content .book-now {
  display: inline-block;
  overflow: hidden;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  color: #000;
}

.rooms .rooms-grid .rooms-item .inner .content .book-now::after {
  content: " ";
  width: 100%;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  display: block;
  margin-top: 3px;
  opacity: 0.2;
  transform: translateX(-100%);
  transition: transform 300ms;
}

.rooms .rooms-grid .rooms-item .inner .content .book-now:hover::after {
  transform: translate(0);
}

.rooms .rooms-grid .rooms-item .inner:hover .image img {
  transform: scale(1.15);
  transition: all 0.3s linear;
}

.more-room .section-title {
  margin-bottom: 45px;
}

.more-room .section-title h3.subtitle {
  font-size: 31px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
  color: #383838;
}

.rooms .section-title {
  margin-bottom: 45px;
}

.rooms .section-title h3.subtitle {
  font-size: 31px;
  font-weight: 500;
  letter-spacing: 0px;
  text-transform: none;
  color: #383838;
}

.wrapper {
  position: relative;
  background-color: #fff;
  border-color: #e6e6e6;
  margin: 20px;
  z-index: 1;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px;
    margin: auto;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.pt-100 {
  padding-top: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.mgy-25 {
  margin: 25px 0;
}

.mb-60 {
  margin-bottom: 60px;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.section-title {
  position: relative;
  max-width: 760px;
  margin: auto;
  margin-bottom: 90px;
  text-align: center;
}

.section-title .sectitle {
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  color: #898989;
  font-family: Jost;
  font-size: 21px;
  line-height: 35.7px;
}

.section-title .subtitle {
  text-transform: capitalize !important;
  font-size: 80px;
  line-height: 96px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
  color: #000000;
  font-family: 'Shelia VNF';
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .section-title {
    margin-bottom: 30px;
  }

  .section-title .subtitle {
    font-size: 55px;
    line-height: 1.2;

  }
}



/* row footer */
.footer {
  background-color: #000;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: #fff;
  padding: 30px 20px;
  border-radius: 50px;
  font-size: 18px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.footer-item>* {
  margin: 13px;
}

.footer-item-content-title {
  font-weight: 700;
}

.social>i {
  width: 15%;
  margin: 10px;
}

.footer-img>img {
  width: 60%;
}

#demo.carousel {
  width: 50%;
  margin: auto;
}